.aboutUs {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('~assets/images/flowers.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('~assets/images/flowers.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}

.text {
    position: absolute;
    top: 50%;
    left: 7%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 40%;
    color: white;

    & h3 {
        font-size: 3rem;
        font-weight: 100;
    }

    & p {
        font-size: 1.6rem;
        margin: 0.2rem;
    }
}
